.notfound-container {
  text-align: center;
  margin-top: 20px;

  height: calc(100vh - 60px);

  text-align: center;
  justify-content: center;
}

.bookshelf-img {
  width: 30%;
  max-width: 150px;
  display: block;
  margin: 0 auto;
  height: 20%;
  margin-bottom: 20px;
}

.message {
  font-size: 1.2em;
  color: #333;
}
