#brand-logo {
  width: 130px;
}

.navbar-nav .nav-link {
  color: #0d4278;
  font-family: "Playfair Display", sans-serif;
  font-size: 18px;
  text-decoration: none;
  margin-right: 20px;
  border-bottom: 3px solid transparent;
}

.navbar-nav .nav-link:hover {
  border-bottom: 3px solid #0d4278;
}

.login-button,
.signup-button {
  font-family: "Playfair Display", sans-serif;
  color: #0d4278;
  border-color: #0d4278;
  box-shadow: 0 0 10px rgba(13, 66, 120, 0.5);
  border-radius: 5px;
}

.login-button {
  margin-right: 20px;
}

.signup-button {
  margin-right: 40px;
}

.login-button:hover,
.signup-button:hover {
  background-color: #0d4278;
  color: white;
}

.modal-header {
  background-color: #effafc;
  border-bottom: 1px solid #90a5ba;
}

.modal-body {
  padding: 20px;
}

.modal-title {
  color: #0d4278;
  font-size: 24px;
  font-family: "Playfair Display", sans-serif;
}
